.place__paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  margin: 0 0 26px 0;
  max-width: 484px;
  transition: text-shadow .2s linear;
}

.place__paragraph:hover {
  text-shadow: 5px 3px 2px rgba(0, 0, 0, 1);
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1279.98px) {

  .place__paragraph {
    max-width: 456px;
  }
}


@media screen and (max-width: 1023.98px) {

  .place__paragraph {
    font-size: 16px;
    margin: 0 0 25px 0;
    max-width: 352px;
  }
}

@media screen and (max-width: 767.98px) {

  .place__paragraph {
    max-width: 288px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
