.header {
  margin: 0 auto;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 1279.98px) {

  .header {
    max-width: 928px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 1023.98px) {

  .header {
    max-width: 720px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 767.98px) {
  .header {
    max-width: 288px;
    padding: 16px 16px 0;
  }
}
