.intro {
  margin: 92px 0 0;;
  max-width: 690px;
  padding-left: 100px;
}

@media screen and (max-width: 1279.98px) {

  .intro {
    padding-left: 48px;
  }
}

@media screen and (max-width: 1023.98px) {

  .intro {
    margin: 88px auto 0;
    max-width: 720px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767.98px) {
  .intro {
    margin: 64px auto 0;
    max-width: 288px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
