.page__section {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 48px;
}


@media screen and (max-width: 1279.98px) {
  .page__section {
    max-width: 1024px;
    padding: 0;
  }
}

@media screen and (max-width: 1023.98px) {
  .page__section {
    max-width: 100%;
  }
}

