.footer {
  display: flex;
  margin: 92px auto 0;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 24px;
}

@media (min-width: 768px) and (max-width: 1024px) {

  .footer {
    margin-top: 88px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {

  .footer {
    margin-top: 64px;
    flex-direction: column;
  }
}
